body { 
    margin: 0;
    padding: 0; 
}

.titulo       {
    font-size: 30px; 
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 

}

.login       { 
    width: 300px;
    border-radius: 2%; 
    margin: center 0;
}

.msg-error  {
    color: red;
    font-weight: bold;
    text-align: center;
    height: 40px;
}